apispec==5.2.2
asgiref==3.7.2
attrs==21.4.0
Babel==2.14.0
billiard==3.6.4.0
certifi==2021.10.8
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.4
Deprecated==1.2.13
distlib==0.3.8
Django==5.0.2
django-countries==7.2.1
django-filter==22.1
django-redis==5.2.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.0.0
dnspython==2.3.0
email-validator==1.3.1
filelock==3.13.1
Flask==2.2.3
Flask-AppBuilder==4.3.1
Flask-Babel==2.0.0
Flask-CLI==0.4.0
Flask-JWT-Extended==4.4.4
Flask-Limiter==3.3.0
Flask-Login==0.6.2
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.1.1
greenlet==2.0.2
idna==3.6
importlib-resources==5.12.0
inflection==0.5.1
itsdangerous==2.1.2
itypes==1.2.0
Jinja2==3.1.3
jsonschema==4.4.0
limits==3.3.1
markdown-it-py==2.2.0
MarkupSafe==2.1.5
marshmallow==3.19.0
marshmallow-enum==1.5.1
marshmallow-sqlalchemy==0.26.1
mdurl==0.1.2
ordered-set==4.1.0
packaging==23.2
phonenumbers==8.13.30
platformdirs==4.2.0
prison==0.2.1
psycopg2==2.9.9
Pygments==2.14.0
PyJWT==2.8.0
pyrsistent==0.18.1
python-dateutil==2.8.2
python-decouple==3.5
pytz==2021.3
PyYAML==6.0
redis==4.1.2
requests==2.31.0
rich==13.3.2
ruamel.yaml==0.17.20
ruamel.yaml.clib==0.2.7
six==1.16.0
SQLAlchemy==1.4.47
SQLAlchemy-Utils==0.40.0
sqlparse==0.4.2
text-unidecode==1.3
typing_extensions==4.9.0
uritemplate==4.1.1
urllib3==1.26.8
vine==5.0.0
virtualenv==20.25.1
wcwidth==0.2.5
Werkzeug==2.2.3
wrapt==1.13.3
WTForms==3.0.1
